{
  "openapi": "3.0.3",
  "info": {
    "title": "Wizzx AI API",
    "version": "1.2.0",
    "description": "Wizzx asynchronous image, video, and audio generation API. Model keys are placed in the submit URL. Submit returns a Wizzx task_id; poll that ID through /api/v1/task/status. Authentication uses a Wizzx API key in the Authorization: Bearer <key> header.",
    "license": {
      "name": "MIT",
      "url": "https://github.com/tonyljx/documentation/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://api.wizzx.ai",
      "description": "Production API"
    }
  ],
  "paths": {
    "/api/v1/task/submit/veo3": {
      "post": {
        "operationId": "submitVeo3Task",
        "summary": "Submit Veo 3.1 task",
        "description": "Creates one asynchronous paid task. Save data.task_id and poll the status endpoint. Do not automatically retry an ambiguous submit.",
        "tags": [
          "Video generation"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Veo3SubmitRequest"
              },
              "example": {
                "prompt": "A paper boat in a neon canal",
                "type": "text-to-video",
                "duration": 8,
                "model": "veo3_lite",
                "resolution": "720p"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed JSON or binding validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds the configured limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Model-specific validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {
              "X-Retry-After": {
                "description": "Retry delay in seconds.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "500": {
            "description": "Internal or upstream submission error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service or model temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/task/submit/seedance-pro-fast": {
      "post": {
        "operationId": "submitSeedanceProFastTask",
        "summary": "Submit Seedance Pro Fast task",
        "description": "Creates one asynchronous paid task. Save data.task_id and poll the status endpoint. Do not automatically retry an ambiguous submit.",
        "tags": [
          "Video generation"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceSubmitRequest"
              },
              "example": {
                "prompt": "A cat plays piano",
                "type": "text-to-video",
                "duration": 5
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed JSON or binding validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds the configured limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Model-specific validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {
              "X-Retry-After": {
                "description": "Retry delay in seconds.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "500": {
            "description": "Internal or upstream submission error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service or model temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/task/submit/seedance-1.5-pro": {
      "post": {
        "operationId": "submitSeedance15ProTask",
        "summary": "Submit Seedance 1.5 Pro task",
        "description": "Creates one asynchronous paid task. Save data.task_id and poll the status endpoint. Do not automatically retry an ambiguous submit.",
        "tags": [
          "Video generation"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Seedance15ProSubmitRequest"
              },
              "example": {
                "prompt": "Ocean waves at sunrise",
                "type": "text-to-video",
                "duration": 5,
                "resolution": "720p"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed JSON or binding validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds the configured limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Model-specific validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {
              "X-Retry-After": {
                "description": "Retry delay in seconds.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "500": {
            "description": "Internal or upstream submission error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service or model temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/task/submit/wan-2-6": {
      "post": {
        "summary": "Submit WAN 2.6 video task",
        "description": "Compatibility-only endpoint hidden from /pricing. Do not select it automatically for new integrations.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Wan26SubmitRequest"
              },
              "examples": {
                "text-to-video": {
                  "summary": "Text-to-video generation",
                  "value": {
                    "prompt": "In a hyperrealistic ASMR video, a hand uses a knitted knife to slowly slice a burger made entirely of knitted wool.",
                    "type": "text-to-video",
                    "duration": 5,
                    "resolution": "1080p"
                  }
                },
                "image-to-video": {
                  "summary": "Image-to-video generation",
                  "value": {
                    "prompt": "Anthropomorphic fox singing a Christmas song at the rubbish dump in the rain.",
                    "type": "image-to-video",
                    "image_urls": [
                      "https://example.com/fox.jpg"
                    ],
                    "duration": 5,
                    "resolution": "1080p"
                  }
                },
                "15-second": {
                  "summary": "15-second video generation",
                  "value": {
                    "prompt": "A serene timelapse of a cherry blossom tree in full bloom, petals gently falling in slow motion as the sun sets behind distant mountains.",
                    "type": "text-to-video",
                    "duration": 15,
                    "resolution": "720p"
                  }
                },
                "long-prompt": {
                  "summary": "Using extended prompt capability",
                  "value": {
                    "prompt": "A cinematic aerial shot of a futuristic city at twilight. Flying cars navigate between towering skyscrapers covered in holographic advertisements. The camera slowly descends through the urban canyon, revealing bustling streets below with pedestrians walking under neon signs. Rain begins to fall, creating beautiful reflections on the wet pavement.",
                    "type": "text-to-video",
                    "duration": 10,
                    "resolution": "1080p"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed JSON or binding validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds the configured limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Model-specific validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {
              "X-Retry-After": {
                "description": "Retry delay in seconds.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "500": {
            "description": "Internal or upstream submission error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service or model temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "submitWan26Task",
        "deprecated": true,
        "tags": [
          "Legacy models"
        ]
      }
    },
    "/api/v1/task/submit/wan-2-5": {
      "post": {
        "summary": "Submit WAN 2.5 video task",
        "description": "Compatibility-only endpoint hidden from /pricing. Do not select it automatically for new integrations.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Wan25SubmitRequest"
              },
              "examples": {
                "text-to-video": {
                  "summary": "Text-to-video generation",
                  "value": {
                    "prompt": "A majestic dragon flying through clouds at sunset",
                    "type": "text-to-video",
                    "duration": 10,
                    "resolution": "1080p",
                    "aspect_ratio": "16:9"
                  }
                },
                "image-to-video": {
                  "summary": "Image-to-video generation",
                  "value": {
                    "prompt": "The character turns around and smiles at the camera",
                    "type": "image-to-video",
                    "image_urls": [
                      "https://example.com/character.jpg"
                    ],
                    "duration": 5,
                    "resolution": "720p"
                  }
                },
                "with-options": {
                  "summary": "With negative prompt and seed",
                  "value": {
                    "prompt": "A futuristic city with neon lights and flying cars",
                    "type": "text-to-video",
                    "duration": 10,
                    "resolution": "1080p",
                    "aspect_ratio": "9:16",
                    "negative_prompt": "blurry, low quality, distorted",
                    "enable_prompt_expansion": true,
                    "seed": 42
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed JSON or binding validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds the configured limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Model-specific validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {
              "X-Retry-After": {
                "description": "Retry delay in seconds.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "500": {
            "description": "Internal or upstream submission error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service or model temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "submitWan25Task",
        "deprecated": true,
        "tags": [
          "Legacy models"
        ]
      }
    },
    "/api/v1/task/submit/kling-ai": {
      "post": {
        "operationId": "submitKlingAiTask",
        "summary": "Submit Kling AI task",
        "description": "Creates one asynchronous paid task. Save data.task_id and poll the status endpoint. Do not automatically retry an ambiguous submit.",
        "tags": [
          "Video generation"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KlingSubmitRequest"
              },
              "example": {
                "prompt": "A character walks through a forest",
                "type": "text-to-video",
                "quality_mode": "pro",
                "duration": 5,
                "model_name": "kling-v2-1-master"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed JSON or binding validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds the configured limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Model-specific validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {
              "X-Retry-After": {
                "description": "Retry delay in seconds.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "500": {
            "description": "Internal or upstream submission error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service or model temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/task/status": {
      "post": {
        "operationId": "getTaskStatus",
        "summary": "Query task status",
        "description": "Pure database read for the authenticated task owner. Poll the same task_id; never create a replacement task automatically.",
        "tags": [
          "Tasks"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Current task state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed JSON or missing task_id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Task not found for the authenticated owner",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds the configured limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {
              "X-Retry-After": {
                "description": "Retry delay in seconds.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/task/submit/flux-kontext-pro": {
      "post": {
        "summary": "Submit Flux Kontext Pro image task",
        "description": "Compatibility-only endpoint hidden from /pricing. Do not select it automatically for new integrations.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FluxKontextSubmitRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed JSON or binding validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds the configured limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Model-specific validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {
              "X-Retry-After": {
                "description": "Retry delay in seconds.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "500": {
            "description": "Internal or upstream submission error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service or model temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "submitFluxKontextProTask",
        "deprecated": true,
        "tags": [
          "Legacy models"
        ]
      }
    },
    "/api/v1/task/submit/flux-kontext-max": {
      "post": {
        "summary": "Submit Flux Kontext Max image task",
        "description": "Compatibility-only endpoint hidden from /pricing. Do not select it automatically for new integrations.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FluxKontextSubmitRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed JSON or binding validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds the configured limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Model-specific validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {
              "X-Retry-After": {
                "description": "Retry delay in seconds.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "500": {
            "description": "Internal or upstream submission error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service or model temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "submitFluxKontextMaxTask",
        "deprecated": true,
        "tags": [
          "Legacy models"
        ]
      }
    },
    "/api/v1/task/submit/nano-banana-pro": {
      "post": {
        "operationId": "submitNanoBananaProTask",
        "summary": "Submit Nano Banana Pro task",
        "description": "Creates one asynchronous paid task. Save data.task_id and poll the status endpoint. Do not automatically retry an ambiguous submit.",
        "tags": [
          "Image generation"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NanoBananaProSubmitRequest"
              },
              "example": {
                "prompt": "A studio product photo",
                "resolution": "2K",
                "output_format": "png"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed JSON or binding validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds the configured limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Model-specific validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {
              "X-Retry-After": {
                "description": "Retry delay in seconds.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "500": {
            "description": "Internal or upstream submission error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service or model temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/task/submit/nano-banana": {
      "post": {
        "operationId": "submitNanoBananaTask",
        "summary": "Submit Nano Banana task",
        "description": "Creates one asynchronous paid task. Save data.task_id and poll the status endpoint. Do not automatically retry an ambiguous submit.",
        "tags": [
          "Image generation"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NanoBananaSubmitRequest"
              },
              "example": {
                "prompt": "A warm editorial portrait",
                "output_format": "png"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed JSON or binding validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds the configured limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Model-specific validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {
              "X-Retry-After": {
                "description": "Retry delay in seconds.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "500": {
            "description": "Internal or upstream submission error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service or model temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/task/submit/seedream-4": {
      "post": {
        "operationId": "submitSeedream4Task",
        "summary": "Submit Seedream 4.0 task",
        "description": "Creates one asynchronous paid task. Save data.task_id and poll the status endpoint. Do not automatically retry an ambiguous submit.",
        "tags": [
          "Image generation"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedreamSubmitRequest"
              },
              "example": {
                "prompt": "A neon city at night",
                "resolution": "2K",
                "batch_size": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed JSON or binding validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds the configured limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Model-specific validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {
              "X-Retry-After": {
                "description": "Retry delay in seconds.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "500": {
            "description": "Internal or upstream submission error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service or model temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/task/submit/seedream-4.5": {
      "post": {
        "operationId": "submitSeedream45Task",
        "summary": "Submit Seedream 4.5 task",
        "description": "Creates one asynchronous paid task. Save data.task_id and poll the status endpoint. Do not automatically retry an ambiguous submit.",
        "tags": [
          "Image generation"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedreamSubmitRequest"
              },
              "example": {
                "prompt": "A cinematic mountain landscape",
                "resolution": "2K"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed JSON or binding validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds the configured limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Model-specific validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {
              "X-Retry-After": {
                "description": "Retry delay in seconds.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "500": {
            "description": "Internal or upstream submission error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service or model temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/task/submit/flux-2-pro": {
      "post": {
        "summary": "Submit Flux 2 Pro image task",
        "description": "Compatibility-only endpoint hidden from /pricing. Do not select it automatically for new integrations.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Flux2ProRequest"
              },
              "examples": {
                "text-to-image": {
                  "summary": "Text-to-image generation",
                  "value": {
                    "prompt": "A futuristic city at night with neon lights",
                    "width": 1920,
                    "height": 1080,
                    "output_format": "png",
                    "safety_tolerance": 2
                  }
                },
                "image-to-image": {
                  "summary": "Image-to-image transformation",
                  "value": {
                    "prompt": "Transform this into a watercolor painting",
                    "image_urls": [
                      "https://example.com/source.jpg"
                    ],
                    "width": 1024,
                    "height": 1024,
                    "output_format": "png"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed JSON or binding validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds the configured limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Model-specific validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {
              "X-Retry-After": {
                "description": "Retry delay in seconds.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "500": {
            "description": "Internal or upstream submission error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service or model temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "submitFlux2ProTask",
        "deprecated": true,
        "tags": [
          "Legacy models"
        ]
      }
    },
    "/api/v1/task/submit/flux-2-flex": {
      "post": {
        "summary": "Submit Flux 2 Flex image task",
        "description": "Compatibility-only endpoint hidden from /pricing. Do not select it automatically for new integrations.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Flux2FlexRequest"
              },
              "examples": {
                "text-to-image": {
                  "summary": "Text-to-image with fine control",
                  "value": {
                    "prompt": "A serene mountain landscape with a crystal clear lake",
                    "width": 1920,
                    "height": 1080,
                    "prompt_upsampling": true,
                    "guidance": 7.5,
                    "steps": 50,
                    "output_format": "png"
                  }
                },
                "image-to-image-multi": {
                  "summary": "Multi-reference image blending",
                  "value": {
                    "prompt": "Blend these images into a surreal dreamscape",
                    "image_urls": [
                      "https://example.com/img1.jpg",
                      "https://example.com/img2.jpg",
                      "https://example.com/img3.jpg"
                    ],
                    "width": 1024,
                    "height": 1024,
                    "guidance": 5,
                    "steps": 40,
                    "output_format": "png"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed JSON or binding validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds the configured limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Model-specific validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {
              "X-Retry-After": {
                "description": "Retry delay in seconds.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "500": {
            "description": "Internal or upstream submission error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service or model temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "submitFlux2FlexTask",
        "deprecated": true,
        "tags": [
          "Legacy models"
        ]
      }
    },
    "/api/v1/task/submit/wan22-animate-move": {
      "post": {
        "summary": "Submit WAN 2.2 Animate Move video task",
        "description": "Compatibility-only endpoint hidden from /pricing. Do not select it automatically for new integrations.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Wan22AnimateMoveRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Basic animation request",
                  "value": {
                    "video_url": "https://example.com/source-video.mp4",
                    "image_url": "https://example.com/reference-image.jpg"
                  }
                },
                "720p": {
                  "summary": "720p resolution",
                  "value": {
                    "video_url": "https://example.com/source-video.mp4",
                    "image_url": "https://example.com/reference-image.jpg",
                    "resolution": "720p"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed JSON or binding validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds the configured limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Model-specific validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {
              "X-Retry-After": {
                "description": "Retry delay in seconds.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "500": {
            "description": "Internal or upstream submission error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service or model temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "submitWan22AnimateMoveTask",
        "deprecated": true,
        "tags": [
          "Legacy models"
        ]
      }
    },
    "/api/v1/task/submit/virtual-try-on": {
      "post": {
        "summary": "Submit Virtual Try-On task",
        "description": "Compatibility-only endpoint hidden from /pricing. Do not select it automatically for new integrations.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VirtualTryOnSubmitRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Basic single garment",
                  "value": {
                    "human_image": "https://example.com/person.jpg",
                    "cloth_image": "https://example.com/shirt.jpg"
                  }
                },
                "v1_5_combo": {
                  "summary": "v1-5 stitched top+bottom",
                  "value": {
                    "model_name": "kolors-virtual-try-on-v1-5",
                    "human_image": "https://example.com/person.jpg",
                    "cloth_image": "https://example.com/outfit_combo.jpg"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed JSON or binding validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds the configured limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Model-specific validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {
              "X-Retry-After": {
                "description": "Retry delay in seconds.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "500": {
            "description": "Internal or upstream submission error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service or model temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "submitVirtualTryOnTask",
        "deprecated": true,
        "tags": [
          "Legacy models"
        ]
      }
    },
    "/api/v1/task/submit/nano-banana-2": {
      "post": {
        "operationId": "submitNanoBanana2Task",
        "summary": "Submit Nano Banana 2 task",
        "description": "Creates one asynchronous paid task. Save data.task_id and poll the status endpoint. Do not automatically retry an ambiguous submit.",
        "tags": [
          "Image generation"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NanoBanana2SubmitRequest"
              },
              "example": {
                "prompt": "A clean isometric city",
                "resolution": "1K"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed JSON or binding validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds the configured limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Model-specific validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {
              "X-Retry-After": {
                "description": "Retry delay in seconds.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "500": {
            "description": "Internal or upstream submission error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service or model temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/task/submit/nano-banana-2-lite": {
      "post": {
        "operationId": "submitNanoBanana2LiteTask",
        "summary": "Submit Nano Banana 2 Lite task",
        "description": "Creates one asynchronous paid task. Save data.task_id and poll the status endpoint. Do not automatically retry an ambiguous submit.",
        "tags": [
          "Image generation"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NanoBanana2LiteSubmitRequest"
              },
              "example": {
                "prompt": "A playful sticker illustration",
                "aspect_ratio": "1:1"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed JSON or binding validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds the configured limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Model-specific validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {
              "X-Retry-After": {
                "description": "Retry delay in seconds.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "500": {
            "description": "Internal or upstream submission error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service or model temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/task/submit/gpt-image-2": {
      "post": {
        "operationId": "submitGptImage2Task",
        "summary": "Submit GPT Image 2 task",
        "description": "Creates one asynchronous paid task. Save data.task_id and poll the status endpoint. Do not automatically retry an ambiguous submit.",
        "tags": [
          "Image generation"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GPTImage2SubmitRequest"
              },
              "example": {
                "prompt": "An orange mechanical keyboard on a dark desk",
                "quality": "high"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed JSON or binding validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds the configured limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Model-specific validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {
              "X-Retry-After": {
                "description": "Retry delay in seconds.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "500": {
            "description": "Internal or upstream submission error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service or model temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/task/submit/runway-gen3": {
      "post": {
        "operationId": "submitRunwayGen3Task",
        "summary": "Submit Runway Gen-3 task",
        "description": "Creates one asynchronous paid task. Save data.task_id and poll the status endpoint. Do not automatically retry an ambiguous submit.",
        "tags": [
          "Video generation"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunwayGen3SubmitRequest"
              },
              "example": {
                "prompt": "A paper boat crosses a moonlit lake",
                "type": "text-to-video",
                "duration": 5
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed JSON or binding validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds the configured limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Model-specific validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {
              "X-Retry-After": {
                "description": "Retry delay in seconds.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "500": {
            "description": "Internal or upstream submission error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service or model temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pricing": {
      "get": {
        "operationId": "getPublicPricing",
        "summary": "List public models and current pricing",
        "tags": [
          "Discovery"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Current public pricing catalog",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PricingResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/credits/balance": {
      "get": {
        "operationId": "getCreditBalance",
        "summary": "Get current credit balance",
        "tags": [
          "Credits"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditBalanceResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {
              "X-Retry-After": {
                "description": "Retry delay in seconds.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Wizzx API key. This is not a JWT."
      }
    },
    "schemas": {
      "Veo3SubmitRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "prompt",
          "type"
        ],
        "description": "text-to-video must omit image_urls; image-to-video requires 1-2 images; reference-to-video requires 1-3 images and duration 8.",
        "properties": {
          "prompt": {
            "type": "string",
            "minLength": 1
          },
          "type": {
            "type": "string",
            "enum": [
              "text-to-video",
              "image-to-video",
              "reference-to-video"
            ]
          },
          "image_urls": {
            "type": "array",
            "maxItems": 3,
            "items": {
              "type": "string",
              "format": "uri",
              "pattern": "^https?://",
              "description": "Publicly reachable HTTP(S) URL."
            }
          },
          "duration": {
            "type": "integer",
            "enum": [
              4,
              6,
              8
            ],
            "default": 8
          },
          "resolution": {
            "type": "string",
            "enum": [
              "720p",
              "1080p",
              "4k"
            ],
            "default": "720p"
          },
          "aspect_ratio": {
            "type": "string",
            "enum": [
              "16:9",
              "9:16",
              "Auto",
              "auto"
            ],
            "default": "16:9"
          },
          "model": {
            "type": "string",
            "enum": [
              "veo3_fast",
              "veo3_lite"
            ],
            "default": "veo3_fast"
          },
          "seeds": {
            "type": "integer",
            "minimum": 10000,
            "maximum": 99999
          },
          "enable_translation": {
            "type": "boolean"
          },
          "watermark": {
            "type": "string",
            "maxLength": 128
          }
        },
        "allOf": [
          {
            "oneOf": [
              {
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "text-to-video"
                    ]
                  }
                },
                "not": {
                  "required": [
                    "image_urls"
                  ],
                  "properties": {
                    "image_urls": {}
                  }
                }
              },
              {
                "required": [
                  "image_urls"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "image-to-video"
                    ]
                  },
                  "image_urls": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 2,
                    "items": {
                      "type": "string",
                      "format": "uri",
                      "pattern": "^https?://",
                      "description": "Publicly reachable HTTP(S) URL."
                    }
                  }
                }
              },
              {
                "required": [
                  "image_urls"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "reference-to-video"
                    ]
                  },
                  "image_urls": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 3,
                    "items": {
                      "type": "string",
                      "format": "uri",
                      "pattern": "^https?://",
                      "description": "Publicly reachable HTTP(S) URL."
                    }
                  },
                  "duration": {
                    "type": "integer",
                    "enum": [
                      8
                    ],
                    "default": 8
                  }
                }
              }
            ]
          }
        ]
      },
      "SeedanceSubmitRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "prompt",
          "type"
        ],
        "description": "Current HTTP contract: omit resolution for the 480p default. Explicit 480p is temporarily rejected by the shared gateway binding; explicit values may be 720p or 1080p. image-to-video requires exactly one image.",
        "properties": {
          "prompt": {
            "type": "string",
            "minLength": 1
          },
          "type": {
            "type": "string",
            "enum": [
              "text-to-video",
              "image-to-video"
            ]
          },
          "image_urls": {
            "type": "array",
            "maxItems": 1,
            "items": {
              "type": "string",
              "format": "uri",
              "pattern": "^https?://",
              "description": "Publicly reachable HTTP(S) URL."
            }
          },
          "duration": {
            "type": "integer",
            "enum": [
              5,
              10
            ],
            "default": 5
          },
          "resolution": {
            "type": "string",
            "enum": [
              "720p",
              "1080p"
            ],
            "description": "Omit this field to use the current 480p default. Explicit 480p is not accepted until the gateway binding is fixed."
          },
          "aspect_ratio": {
            "type": "string",
            "enum": [
              "16:9",
              "4:3",
              "1:1",
              "3:4",
              "9:16",
              "21:9",
              "adaptive"
            ]
          },
          "seed": {
            "type": "integer",
            "minimum": -1,
            "maximum": 4294967295
          },
          "watermark": {
            "type": "boolean"
          },
          "camera_fixed": {
            "type": "boolean"
          }
        },
        "allOf": [
          {
            "oneOf": [
              {
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "text-to-video"
                    ]
                  }
                },
                "not": {
                  "required": [
                    "image_urls"
                  ],
                  "properties": {
                    "image_urls": {}
                  }
                }
              },
              {
                "required": [
                  "image_urls"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "image-to-video"
                    ]
                  },
                  "image_urls": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 1,
                    "items": {
                      "type": "string",
                      "format": "uri",
                      "pattern": "^https?://",
                      "description": "Publicly reachable HTTP(S) URL."
                    }
                  }
                }
              }
            ]
          }
        ]
      },
      "Seedance15ProSubmitRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "prompt",
          "type"
        ],
        "description": "Current HTTP contract: duration is 4-12 seconds and explicit resolution is 720p. The model intends to support duration=-1 and 480p, but shared gateway binding currently rejects both. image-to-video requires 1-2 images.",
        "properties": {
          "prompt": {
            "type": "string",
            "minLength": 1
          },
          "type": {
            "type": "string",
            "enum": [
              "text-to-video",
              "image-to-video"
            ]
          },
          "image_urls": {
            "type": "array",
            "maxItems": 2,
            "items": {
              "type": "string",
              "format": "uri",
              "pattern": "^https?://",
              "description": "Publicly reachable HTTP(S) URL."
            }
          },
          "duration": {
            "type": "integer",
            "minimum": 4,
            "maximum": 12,
            "default": 5
          },
          "resolution": {
            "type": "string",
            "enum": [
              "720p"
            ],
            "default": "720p"
          },
          "aspect_ratio": {
            "type": "string",
            "enum": [
              "16:9",
              "4:3",
              "1:1",
              "3:4",
              "9:16",
              "21:9",
              "adaptive"
            ],
            "default": "adaptive"
          },
          "seed": {
            "type": "integer",
            "minimum": -1,
            "maximum": 4294967295
          },
          "watermark": {
            "type": "boolean"
          },
          "camera_fixed": {
            "type": "boolean"
          },
          "generate_audio": {
            "type": "boolean",
            "default": true
          },
          "return_last_frame": {
            "type": "boolean",
            "default": false
          }
        },
        "allOf": [
          {
            "oneOf": [
              {
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "text-to-video"
                    ]
                  }
                },
                "not": {
                  "required": [
                    "image_urls"
                  ],
                  "properties": {
                    "image_urls": {}
                  }
                }
              },
              {
                "required": [
                  "image_urls"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "image-to-video"
                    ]
                  },
                  "image_urls": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 2,
                    "items": {
                      "type": "string",
                      "format": "uri",
[...]
