{
  "openapi": "3.0.3",
  "info": {
    "title": "Wizzx AI API",
    "version": "1.0.0",
    "description": "Wizzx AI multi-model API: Veo 3.1 video generation and Flux Kontext image generation.\nAuthentication: Bearer API key in `Authorization` header."
  },
  "servers": [
    {
      "url": "https://api.wizzx.ai",
      "description": "Replace with your deployed host"
    }
  ],
  "paths": {
    "/api/v1/task/submit/veo3": {
      "post": {
        "summary": "Submit Veo 3.1 video task",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Veo3SubmitRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Veo3SubmitResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation error"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/v1/task/status": {
      "post": {
        "summary": "Query task status",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Status returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStatusResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Task not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/v1/task/submit/flux-kontext-pro": {
      "post": {
        "summary": "Submit Flux Kontext Pro image task",
        "description": "Submit an image generation task using Flux Kontext Pro model. Costs 15-20 credits depending on parameters.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FluxKontextSubmitRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FluxKontextSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Insufficient credits"
          },
          "404": {
            "description": "Model not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/v1/task/submit/flux-kontext-max": {
      "post": {
        "summary": "Submit Flux Kontext Max image task",
        "description": "Submit an image generation task using Flux Kontext Max model (premium quality). Costs 20-28 credits depending on parameters.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FluxKontextSubmitRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FluxKontextSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Insufficient credits"
          },
          "404": {
            "description": "Model not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Veo3SubmitRequest": {
        "type": "object",
        "required": [
          "prompt"
        ],
        "properties": {
          "prompt": {
            "type": "string",
            "description": "Text prompt describing the video."
          },
          "image_urls": {
            "type": "array",
            "description": "Image URLs. 1-2 for first/last frames, 1-3 for REFERENCE_2_VIDEO.",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "minItems": 1,
            "maxItems": 3
          },
          "generation_type": {
            "type": "string",
            "description": "Generation mode. Defaults based on image_urls presence.",
            "enum": [
              "TEXT_2_VIDEO",
              "FIRST_AND_LAST_FRAMES_2_VIDEO",
              "REFERENCE_2_VIDEO"
            ]
          },
          "model": {
            "type": "string",
            "description": "Model choice.",
            "enum": [
              "veo3",
              "veo3_fast"
            ],
            "default": "veo3_fast"
          },
          "aspect_ratio": {
            "type": "string",
            "enum": [
              "16:9",
              "9:16",
              "Auto"
            ],
            "default": "16:9"
          },
          "seeds": {
            "type": "integer",
            "format": "int32",
            "minimum": 10000,
            "maximum": 99999,
            "description": "Optional seed for reproducibility."
          },
          "enable_translation": {
            "type": "boolean",
            "description": "Translate prompt to English for better results.",
            "default": true
          },
          "watermark": {
            "type": "string",
            "description": "Watermark text."
          }
        }
      },
      "Veo3SubmitResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 0
          },
          "msg": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string",
                "description": "Local task id."
              },
              "provider_task_id": {
                "type": "string",
                "description": "Downstream Kie task id."
              },
              "model_key": {
                "type": "string",
                "example": "veo3"
              },
              "provider_key": {
                "type": "string",
                "example": "veo3"
              }
            }
          }
        }
      },
      "TaskStatusRequest": {
        "type": "object",
        "required": [
          "task_id"
        ],
        "properties": {
          "task_id": {
            "type": "string",
            "description": "Local task id returned from submit."
          }
        }
      },
      "TaskStatusResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 0
          },
          "msg": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "enum": [
                  "PROCESSING",
                  "SUCCEEDED",
                  "FAILED"
                ]
              },
              "result_urls": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uri"
                }
              },
              "error": {
                "type": "string"
              }
            }
          }
        }
      },
      "FluxKontextSubmitRequest": {
        "type": "object",
        "required": [
          "prompt"
        ],
        "properties": {
          "prompt": {
            "type": "string",
            "description": "Text prompt for image generation.",
            "example": "A beautiful sunset over the ocean with vibrant colors"
          },
          "aspect_ratio": {
            "type": "string",
            "description": "Aspect ratio of the image between 21:9 and 9:21. Format: width:height (e.g., '16:9', '1:1', '9:16'). Common ratios: 1:1, 4:3, 3:2, 16:9, 9:16, 21:9, 9:21.",
            "example": "16:9"
          },
          "input_image": {
            "type": "string",
            "description": "Base64 encoded image or URL to use with Kontext for reference.",
            "example": "https://example.com/image.jpg"
          },
          "input_image_2": {
            "type": "string",
            "description": "Second reference image (experimental multi-reference feature).",
            "example": "https://example.com/image2.jpg"
          },
          "input_image_3": {
            "type": "string",
            "description": "Third reference image (experimental multi-reference feature).",
            "example": "https://example.com/image3.jpg"
          },
          "input_image_4": {
            "type": "string",
            "description": "Fourth reference image (experimental multi-reference feature).",
            "example": "https://example.com/image4.jpg"
          },
          "output_format": {
            "type": "string",
            "description": "Output format for the generated image.",
            "enum": [
              "jpeg",
              "png"
            ],
            "default": "png",
            "example": "png"
          },
          "prompt_upsampling": {
            "type": "boolean",
            "description": "Whether to perform upsampling on the prompt. If active, automatically modifies the prompt for more creative generation.",
            "default": false,
            "example": false
          },
          "safety_tolerance": {
            "type": "integer",
            "description": "Tolerance level for input and output moderation. Between 0 and 6, where 0 is most strict and 6 is least strict.",
            "minimum": 0,
            "maximum": 6,
            "default": 2,
            "example": 2
          },
          "seed": {
            "type": "integer",
            "description": "Optional seed for reproducibility. Using the same seed with the same parameters will generate similar results.",
            "example": 42
          },
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive webhook notifications when the task completes. Must be between 1 and 2083 characters.",
            "minLength": 1,
            "maxLength": 2083,
            "example": "https://your-webhook.example.com/notify"
          },
          "webhook_secret": {
            "type": "string",
            "description": "Optional secret for webhook signature verification.",
            "example": "your_webhook_secret"
          }
        }
      },
      "FluxKontextSubmitResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 200
          },
          "message": {
            "type": "string",
            "example": "success"
          },
          "data": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string",
                "description": "Local task ID for tracking.",
                "example": "task_123456789"
              },
              "status": {
                "type": "string",
                "description": "Initial task status.",
                "example": "pending"
              },
              "credits_deducted": {
                "type": "integer",
                "description": "Number of credits deducted for this task.",
                "example": 15
              }
            }
          }
        }
      }
    }
  }
}
