{
  "openapi": "3.0.3",
  "info": {
    "title": "Veo 3.1 Task API",
    "version": "1.0.0",
    "description": "Veo 3.1 text-to-video / image-to-video submission and polling.\nAuthentication: Bearer API key in `Authorization` header."
  },
  "servers": [
    {
      "url": "https://api.wizzx.ai",
      "description": "Replace with your deployed host"
    }
  ],
  "paths": {
    "/api/v1/task/submit/veo3": {
      "post": {
        "summary": "Submit Veo 3.1 video task",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Veo3SubmitRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Veo3SubmitResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation error"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/v1/task/status": {
      "post": {
        "summary": "Query task status",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Status returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStatusResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Task not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Veo3SubmitRequest": {
        "type": "object",
        "required": [
          "prompt"
        ],
        "properties": {
          "prompt": {
            "type": "string",
            "description": "Text prompt describing the video."
          },
          "image_urls": {
            "type": "array",
            "description": "Image URLs. 1-2 for first/last frames, 1-3 for REFERENCE_2_VIDEO.",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "minItems": 1,
            "maxItems": 3
          },
          "generation_type": {
            "type": "string",
            "description": "Generation mode. Defaults based on image_urls presence.",
            "enum": [
              "TEXT_2_VIDEO",
              "FIRST_AND_LAST_FRAMES_2_VIDEO",
              "REFERENCE_2_VIDEO"
            ]
          },
          "model": {
            "type": "string",
            "description": "Model choice.",
            "enum": [
              "veo3",
              "veo3_fast"
            ],
            "default": "veo3_fast"
          },
          "aspect_ratio": {
            "type": "string",
            "enum": [
              "16:9",
              "9:16",
              "Auto"
            ],
            "default": "16:9"
          },
          "seeds": {
            "type": "integer",
            "format": "int32",
            "minimum": 10000,
            "maximum": 99999,
            "description": "Optional seed for reproducibility."
          },
          "enable_translation": {
            "type": "boolean",
            "description": "Translate prompt to English for better results.",
            "default": true
          },
          "watermark": {
            "type": "string",
            "description": "Watermark text."
          }
        }
      },
      "Veo3SubmitResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 0
          },
          "msg": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string",
                "description": "Local task id."
              },
              "provider_task_id": {
                "type": "string",
                "description": "Downstream Kie task id."
              },
              "model_key": {
                "type": "string",
                "example": "veo3"
              },
              "provider_key": {
                "type": "string",
                "example": "veo3"
              }
            }
          }
        }
      },
      "TaskStatusRequest": {
        "type": "object",
        "required": [
          "task_id"
        ],
        "properties": {
          "task_id": {
            "type": "string",
            "description": "Local task id returned from submit."
          }
        }
      },
      "TaskStatusResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 0
          },
          "msg": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "enum": [
                  "PROCESSING",
                  "SUCCEEDED",
                  "FAILED"
                ]
              },
              "result_urls": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uri"
                }
              },
              "error": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
