{
  "openapi": "3.0.3",
  "info": {
    "title": "Wizzx AI API",
    "version": "1.0.0",
    "description": "Wizzx AI multi-model API: Veo 3.1 video generation, Kling AI image-to-video, Seedance Pro Fast video generation, and Flux Kontext image generation.\nAuthentication: Bearer API key in `Authorization` header."
  },
  "servers": [
    {
      "url": "https://api.wizzx.ai",
      "description": "Replace with your deployed host"
    }
  ],
  "paths": {
    "/api/v1/task/submit/veo3": {
      "post": {
        "summary": "Submit Veo 3.1 video task",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Veo3SubmitRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Veo3SubmitResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation error"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/v1/task/submit/seedance-pro-fast": {
      "post": {
        "summary": "Submit Seedance Pro Fast video task",
        "description": "Submit a video generation task using Seedance Pro Fast model. Supports text2video and img2video modes. Costs 5-40 credits depending on resolution and duration.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceSubmitRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceSubmitResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Insufficient credits"
          },
          "422": {
            "description": "Validation error"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/v1/task/submit/kling-ai": {
      "post": {
        "summary": "Submit Kling AI image-to-video task",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KlingSubmitRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KlingSubmitResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Insufficient credits"
          },
          "422": {
            "description": "Validation error"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/v1/task/status": {
      "post": {
        "summary": "Query task status",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Status returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStatusResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Task not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/v1/task/submit/flux-kontext-pro": {
      "post": {
        "summary": "Submit Flux Kontext Pro image task",
        "description": "Submit an image generation task using Flux Kontext Pro model. Costs 15-20 credits depending on parameters.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FluxKontextSubmitRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FluxKontextSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Insufficient credits"
          },
          "404": {
            "description": "Model not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/v1/task/submit/flux-kontext-max": {
      "post": {
        "summary": "Submit Flux Kontext Max image task",
        "description": "Submit an image generation task using Flux Kontext Max model (premium quality). Costs 20-28 credits depending on parameters.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FluxKontextSubmitRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FluxKontextSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Insufficient credits"
          },
          "404": {
            "description": "Model not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Veo3SubmitRequest": {
        "type": "object",
        "required": [
          "prompt"
        ],
        "properties": {
          "prompt": {
            "type": "string",
            "description": "Text prompt describing the video."
          },
          "image_urls": {
            "type": "array",
            "description": "Image URLs. 1-2 for first/last frames, 1-3 for REFERENCE_2_VIDEO.",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "minItems": 1,
            "maxItems": 3
          },
          "generation_type": {
            "type": "string",
            "description": "Generation mode. Defaults based on image_urls presence.",
            "enum": [
              "TEXT_2_VIDEO",
              "FIRST_AND_LAST_FRAMES_2_VIDEO",
              "REFERENCE_2_VIDEO"
            ]
          },
          "model": {
            "type": "string",
            "description": "Model choice.",
            "enum": [
              "veo3",
              "veo3_fast"
            ],
            "default": "veo3_fast"
          },
          "aspect_ratio": {
            "type": "string",
            "enum": [
              "16:9",
              "9:16",
              "Auto"
            ],
            "default": "16:9"
          },
          "seeds": {
            "type": "integer",
            "format": "int32",
            "minimum": 10000,
            "maximum": 99999,
            "description": "Optional seed for reproducibility."
          },
          "enable_translation": {
            "type": "boolean",
            "description": "Translate prompt to English for better results.",
            "default": true
          },
          "watermark": {
            "type": "string",
            "description": "Watermark text."
          }
        }
      },
      "Veo3SubmitResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 0
          },
          "msg": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string",
                "description": "Local task id."
              },
              "provider_task_id": {
                "type": "string",
                "description": "Downstream Kie task id."
              },
              "model_key": {
                "type": "string",
                "example": "veo3"
              },
              "provider_key": {
                "type": "string",
                "example": "veo3"
              }
            }
          }
        }
      },
      "SeedanceSubmitRequest": {
        "type": "object",
        "required": [
          "prompt",
          "mode"
        ],
        "properties": {
          "prompt": {
            "type": "string",
            "description": "Text prompt describing the video to generate.",
            "example": "A cat playing piano in a cozy living room"
          },
          "mode": {
            "type": "string",
            "description": "Generation mode.",
            "enum": [
              "text2video",
              "img2video"
            ],
            "example": "text2video"
          },
          "input_image_url": {
            "type": "string",
            "format": "uri",
            "description": "Input image URL for img2video mode. Required when mode is img2video. Image requirements: jpeg/png/webp/bmp/tiff/gif format, aspect ratio 0.4-2.5, short edge >300px, long edge <6000px, size <30MB.",
            "example": "https://example.com/character.jpg"
          },
          "duration": {
            "type": "integer",
            "description": "Video duration in seconds.",
            "enum": [
              5,
              10
            ],
            "default": 5,
            "example": 5
          },
          "resolution": {
            "type": "string",
            "description": "Output video resolution.",
            "enum": [
              "480p",
              "720p",
              "1080p"
            ],
            "default": "480p",
            "example": "480p"
          },
          "aspect_ratio": {
            "type": "string",
            "description": "Output video aspect ratio. Default is 16:9 for text2video and adaptive for img2video.",
            "enum": [
              "16:9",
              "4:3",
              "1:1",
              "3:4",
              "9:16",
              "21:9",
              "adaptive"
            ],
            "default": "16:9",
            "example": "16:9"
          },
          "seed": {
            "type": "integer",
            "format": "int64",
            "minimum": -1,
            "maximum": 4294967295,
            "description": "Random seed for reproducibility. -1 for random.",
            "default": -1,
            "example": -1
          },
          "watermark": {
            "type": "boolean",
            "description": "Whether to add watermark to output video.",
            "default": false,
            "example": false
          },
          "camera_fixed": {
            "type": "boolean",
            "description": "Whether to fix the camera position.",
            "default": false,
            "example": false
          }
        }
      },
      "SeedanceSubmitResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 0
          },
          "msg": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string",
                "description": "Local task id.",
                "example": "local-task-id"
              },
              "provider_task_id": {
                "type": "string",
                "description": "Downstream Seedance task id.",
                "example": "seedance_task_abcdef123456"
              },
              "model_key": {
                "type": "string",
                "example": "seedance-pro-fast"
              },
              "provider_key": {
                "type": "string",
                "example": "seedance-pro-fast"
              }
            }
          }
        }
      },
      "TaskStatusRequest": {
        "type": "object",
        "required": [
          "task_id"
        ],
        "properties": {
          "task_id": {
            "type": "string",
            "description": "Local task id returned from submit."
          }
        }
      },
      "TaskStatusResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 0
          },
          "msg": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "enum": [
                  "PROCESSING",
                  "SUCCEEDED",
                  "FAILED"
                ]
              },
              "result_urls": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uri"
                }
              },
              "error": {
                "type": "string"
              }
            }
          }
        }
      },
      "KlingSubmitRequest": {
        "type": "object",
        "required": [
          "prompt",
          "mode",
          "duration"
        ],
        "properties": {
          "prompt": {
            "type": "string",
            "description": "Text prompt describing the video content.",
            "maxLength": 2500
          },
          "mode": {
            "type": "string",
            "description": "Generation mode. 'std' for standard quality, 'pro' for professional quality.",
            "enum": [
              "std",
              "pro"
            ]
          },
          "duration": {
            "type": "integer",
            "description": "Video duration in seconds.",
            "enum": [
              5,
              10
            ]
          },
          "image": {
            "type": "string",
            "description": "Reference image URL or base64. At least one of 'image' or 'image_tail' is required."
          },
          "model_name": {
            "type": "string",
            "description": "Kling model version.",
            "enum": [
              "kling-v1",
              "kling-v1-5",
              "kling-v1-6",
              "kling-v2-master",
              "kling-v2-1",
              "kling-v2-1-master"
            ],
            "default": "kling-v1"
          },
          "image_tail": {
            "type": "string",
            "description": "Tail frame control image (URL or base64). Mutually exclusive with dynamic_masks/static_mask and camera_control."
          },
          "negative_prompt": {
            "type": "string",
            "description": "Negative text prompt to avoid certain elements.",
            "maxLength": 2500
          },
          "cfg_scale": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "description": "CFG scale controlling how closely to follow the prompt. Higher = stricter adherence.",
            "default": 0.5
          },
          "static_mask": {
            "type": "string",
            "description": "Static brush mask image (URL or base64). Mutually exclusive with image_tail and camera_control."
          },
          "dynamic_masks": {
            "type": "array",
            "description": "Dynamic brush configurations with masks and trajectories. Max 6 groups.",
            "maxItems": 6,
            "items": {
              "$ref": "#/components/schemas/DynamicMask"
            }
          },
          "camera_control": {
            "$ref": "#/components/schemas/CameraControl"
          },
          "callback_url": {
            "type": "string",
            "format": "uri",
            "description": "Callback URL for task status updates."
          },
          "external_task_id": {
            "type": "string",
            "description": "Custom task ID for tracking."
          }
        }
      },
      "DynamicMask": {
        "type": "object",
        "required": [
          "mask",
          "trajectories"
        ],
        "properties": {
          "mask": {
            "type": "string",
            "description": "Mask image URL or base64."
          },
          "trajectories": {
            "type": "array",
            "description": "Motion trajectory coordinates (2-77 points for 5s video).",
            "minItems": 2,
            "maxItems": 77,
            "items": {
              "$ref": "#/components/schemas/TrajectoryPoint"
            }
          }
        }
      },
      "TrajectoryPoint": {
        "type": "object",
        "required": [
          "x",
          "y"
        ],
        "properties": {
          "x": {
            "type": "integer",
            "minimum": 0,
            "description": "X coordinate (pixels from bottom-left origin)."
          },
          "y": {
            "type": "integer",
            "minimum": 0,
            "description": "Y coordinate (pixels from bottom-left origin)."
          }
        }
      },
      "CameraControl": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Camera movement type.",
            "enum": [
              "simple",
              "down_back",
              "forward_up",
              "right_turn_forward",
              "left_turn_forward"
            ]
          },
          "config": {
            "$ref": "#/components/schemas/CameraControlConfig"
          }
        }
      },
      "CameraControlConfig": {
        "type": "object",
        "description": "Camera control configuration. Required when type is 'simple'. Exactly one parameter must be non-zero.",
        "properties": {
          "horizontal": {
            "type": "number",
            "format": "float",
            "minimum": -10,
            "maximum": 10,
            "description": "Horizontal pan (-10 to 10)."
          },
          "vertical": {
            "type": "number",
            "format": "float",
            "minimum": -10,
            "maximum": 10,
            "description": "Vertical pan (-10 to 10)."
          },
          "pan": {
            "type": "number",
            "format": "float",
            "minimum": -10,
            "maximum": 10,
            "description": "Horizontal rotation (-10 to 10)."
          },
          "tilt": {
            "type": "number",
            "format": "float",
            "minimum": -10,
            "maximum": 10,
            "description": "Vertical rotation (-10 to 10)."
          },
          "roll": {
            "type": "number",
            "format": "float",
            "minimum": -10,
            "maximum": 10,
            "description": "Roll rotation (-10 to 10)."
          },
          "zoom": {
            "type": "number",
            "format": "float",
            "minimum": -10,
            "maximum": 10,
            "description": "Zoom (-10 to 10)."
          }
        }
      },
      "KlingSubmitResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 0
          },
          "msg": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string",
                "description": "Local task id."
              },
              "provider_task_id": {
                "type": "string",
                "description": "Downstream Kling task id."
              },
              "model_key": {
                "type": "string",
                "example": "kling-ai"
              },
              "provider_key": {
                "type": "string",
                "example": "kling-ai"
              }
            }
          }
        }
      },
      "CreditPricing": {
        "type": "object",
        "description": "Credit pricing for Kling AI",
        "properties": {
          "std_5s": {
            "type": "integer",
            "example": 10
          },
          "std_10s": {
            "type": "integer",
            "example": 20
          },
          "pro_5s": {
            "type": "integer",
            "example": 20
          },
          "pro_10s": {
            "type": "integer",
            "example": 40
          }
        }
      },
      "FluxKontextSubmitRequest": {
        "type": "object",
        "required": [
          "prompt"
        ],
        "properties": {
          "prompt": {
            "type": "string",
            "description": "Text prompt for image generation.",
            "example": "A beautiful sunset over the ocean with vibrant colors"
          },
          "aspect_ratio": {
            "type": "string",
            "description": "Aspect ratio of the image between 21:9 and 9:21. Format: width:height (e.g., '16:9', '1:1', '9:16'). Common ratios: 1:1, 4:3, 3:2, 16:9, 9:16, 21:9, 9:21.",
            "example": "16:9"
          },
          "input_image": {
            "type": "string",
            "description": "Base64 encoded image or URL to use with Kontext for reference.",
            "example": "https://example.com/image.jpg"
          },
          "input_image_2": {
            "type": "string",
            "description": "Second reference image (experimental multi-reference feature).",
            "example": "https://example.com/image2.jpg"
          },
          "input_image_3": {
            "type": "string",
            "description": "Third reference image (experimental multi-reference feature).",
            "example": "https://example.com/image3.jpg"
          },
          "input_image_4": {
            "type": "string",
            "description": "Fourth reference image (experimental multi-reference feature).",
            "example": "https://example.com/image4.jpg"
          },
          "output_format": {
            "type": "string",
            "description": "Output format for the generated image.",
            "enum": [
              "jpeg",
              "png"
            ],
            "default": "png",
            "example": "png"
          },
          "prompt_upsampling": {
            "type": "boolean",
            "description": "Whether to perform upsampling on the prompt. If active, automatically modifies the prompt for more creative generation.",
            "default": false,
            "example": false
          },
          "safety_tolerance": {
            "type": "integer",
            "description": "Tolerance level for input and output moderation. Between 0 and 6, where 0 is most strict and 6 is least strict.",
            "minimum": 0,
            "maximum": 6,
            "default": 2,
            "example": 2
          },
          "seed": {
            "type": "integer",
            "description": "Optional seed for reproducibility. Using the same seed with the same parameters will generate similar results.",
            "example": 42
          },
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive webhook notifications when the task completes. Must be between 1 and 2083 characters.",
            "minLength": 1,
            "maxLength": 2083,
            "example": "https://your-webhook.example.com/notify"
          },
          "webhook_secret": {
            "type": "string",
            "description": "Optional secret for webhook signature verification.",
            "example": "your_webhook_secret"
          }
        }
      },
      "FluxKontextSubmitResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 200
          },
          "message": {
            "type": "string",
            "example": "success"
          },
          "data": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string",
                "description": "Local task ID for tracking.",
                "example": "task_123456789"
              },
              "status": {
                "type": "string",
                "description": "Initial task status.",
                "example": "pending"
              },
              "credits_deducted": {
                "type": "integer",
                "description": "Number of credits deducted for this task.",
                "example": 15
              }
            }
          }
        }
      }
    }
  }
}
